DISCORD_BOT_TOKEN=
DISCORD_BOT_CHANNEL_ID=
ANTHROPIC_API_KEY=
DISCORD_MANAGER_ID=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_INFO_TOKEN=
GMAIL_CONTACT_TOKEN=
GMAIL_KASHIYAMA_TOKEN=
SLACK_WEBHOOK_URL=
SLACK_MENTION_USER_ID=
CHATWORK_API_TOKEN=
CHATWORK_ROOM_ID=
